# Node
frontend/node_modules/
frontend/.next/
frontend/.turbo/

# Python
backend/.venv/
backend/.pytest_cache/
__pycache__/
*.pyc

# Env files
*.env
ENV_SETUP_GUIDE.md

# Misc
.DS_Store
.idea/
.vscode/
*.log